*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

.table td img{
width: 10em;
}

body h1,form{
    text-align: center;
    position: relative;
}

table{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
}

/* .red-btn{
    background-color: rgba(134, 71, 3, 0.645);
    color:white;
    margin: 2px 2px 2px 12.5%;

    padding: 2.5px;
    
} */

#add-btn{
    position: absolute;
    top: 1  0%;
    left: 50%;
}